body {
    color: aliceblue;
    margin: auto;
    background-color: rgb(108, 108, 108);
    font-family: "YuMincho";

}

.header {
    display: flex;
    font-size: 30px;
    background-color: rgb(36, 36, 36);
}

.header img {
    width: 15%;
    margin-right: 80px;
}

.header h1 {
    color: rgb(244, 239, 239);
}

.display {
    display: flex;
    text-align: center;
}

.number {
    width: 100%;
    font-size: 70px;
    margin-top: 40px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 40px;
    padding: 60px;
    background-color: rgb(31, 31, 31);
}