body {
    color: aliceblue;
    margin: auto;
    background-color: rgb(108, 108, 108);
    font-family: "YuMincho";

}

.header {
    display: flex;
    font-size: 30px;
    background-color: rgb(36, 36, 36);
}

.header img {
    width: 15%;
    margin-right: 80px;
}

.header h1 {
    color: rgb(244, 239, 239);
    margin-right: 30px;
}

.display {
    display: flex;
    text-align: center;
}

.number {
    width: 10%;
    font-size: 80px;
    margin-top: 20px;
    margin-left: 25px;
    margin-right: 20px;
    margin-bottom: 40px;
    padding: 60px;
    background-color: rgb(31, 31, 31);
}

.buttons {
    text-align: center;
    margin-top: 20px;
}

button {
    font-size: 20px;
    padding: 10px 20px;
    margin: 5px;
    background-color: rgb(36, 36, 36);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: rgb(60, 60, 60);
}